a.logout{
	display:inline; 
	position: absolute;
	top: 0px; 
	right: 0px; 
}

a.weather{}

body{
	background:#76B852;
}

.button{
	background-color: #7852E8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 150px;
    height: 75px;
    vertical-align: middle;
}
